@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-rouge: #96121c;
  --color-or: #9b8e56;
  --color-noir: #0D0D0D;
  --color-clair: #F5F5F5;
  --color-blanc: #ffffff;
  --font-sans: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  background-color: #ffffff;
  color: #0D0D0D;
}